{% extends 'base.html.twig' %}

{% block title %}Hello LiteratureController!{% endblock %}

{% block literatureActive %}active{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 100%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="margin-bottom: 2rem">Liste des Poésies</h1>

    <form action="{{ path('literature_add') }}" style="margin-bottom: 3rem" method="POST">
        <input type="hidden" name="token" value="{{ csrf_token('add-edit-item') }}"/>
        <button class="btn btn-success">Ajouter une poésie</button>
    </form>

    <div style="display: flex; justify-content: space-evenly; border-bottom: 1px solid black; margin: 1rem 0">
        <p style="width: 5%">#</p>
        <p style="width: 30%">Titre</p>
        <p style="width: 25%; margin-left: 1rem">Auteur/Autrice</p>
        <p style="width: 10%">Affichage</p>
        <p style="width: 30%; margin-left: 4rem; text-align: center">Actions</p>
    </div>
    <div>
        {% for lite in literatures %}
            <div style="display: flex; justify-content: space-evenly; border-bottom: 1px solid black; margin-bottom: 1rem; padding-bottom: 1rem">
                <p style="width: 5%">{{ lite.id }}</p>
                <a href="{{ path('literature_read', {id: lite.id}) }}" style="width: 30%">{{ lite.title }}</a>
                <p style="width: 25%; margin-left: 1rem">{{ lite.author }}</p>
                {% if lite.displayOnWebsite is same as true %}
                    <p style="color: green; width: 10%">Affiché</p>
                {% elseif lite.displayOnWebsite is same as false %}
                    <p style="color: red; width: 10%">Caché</p>
                {% endif %}
                <div style="width: 30%; margin-left: 4rem; display:flex">
                    <div style="position: relative; margin-right: 1rem">
                        <form action="{{ path('literature_display', {id: lite.id}) }}" method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token('display-item') }}"/>
                            {% if lite.displayOnWebsite is same as true %}
                                <button class="btn btn-secondary">Enlever du site</button>
                            {% elseif lite.displayOnWebsite is same as false %}
                                <button class="btn btn-primary">Ajouter au site</button>
                            {% endif %}
                        </form>
                        {% if lite.displayable is same as false %}
                            <div style="height: 100%; width: 100%; overflow: hidden; position: absolute; top: 0;">
                                <div style="position: absolute; height: 10px; width: 200%; background-color: red; top: 50%; left: -50%; transform: rotate(25deg); z-index: 5"></div>
                                <div style="height: 100%; width: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.6); border-radius: 5px;"></div>
                            </div>
                        {% endif %}
                    </div>
                    <form action="{{ path('literature_edit', {id: lite.id}) }}" style="margin-right: 1rem" method="POST">
                        <input type="hidden" name="token" value="{{ csrf_token('add-edit-item') }}"/>
                        <button class="btn btn-warning">Modifier</button>
                    </form>
                    <form action="{{ path('literature_delete', {id: lite.id}) }}" onsubmit="return confirm('Supprimer Citation/Poésie {{ lite.title }} ?')" method="POST">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
